@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
:root {
  --width-img: 300px;
  --height-img: 200px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--width-img) * 6));
  }
}

.slider {
  background: white;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  height: var(--height-img);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 70%;

  &::before,
  &::after {
    @include white-gradient!;
    content: "";
    height: var(--height-img);
    position: absolute;
    width: var(--width-img);
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(var(--width-img) * 12);
  }
  .slide-track-reverse {
    animation: scroll 40s linear infinite reverse;
    display: flex;
    width: calc(var(--width-img) * 12);
  }

  .slide {
    height: var(--height-img);
    width: var(--width-img);
  }
}
